# shellcheck shell=bash
# https://direnv.net/man/direnv-stdlib.1.html
PATH_add bin

export VIRTUAL_ENV=venv
layout python

# shellcheck disable=SC2155
export PROJECT_DIR="$(pwd)"
export REVISION="$(git rev-parse --short HEAD)"
